body {
  overflow: hidden;
}

.panel-formElements-item {
  align-items: stretch;
  flex-direction: column;
}

.panel-formElements-item label {
  text-align: left;
}

.panel-formElements-section {
  background-color: rgba(69, 161, 255, 0.2);
  border-radius: 4px;
  margin: 10px 0;
  padding: 10px;
}

.panel-section-footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.panel-section-footer-button {
  flex: 1;
  padding: 0;
}

.hidden {
  display: none;
}